aid,package,activity
a61,luankevinferreira.expenses,luankevinferreira.expenses.MainActivity
a62,com.kvannli.simonkvannli.dailybudget,com.kvannli.simonkvannli.dailybudget.MainActivity
a63,com.benoitletondor.easybudgetapp,com.benoitletondor.easybudgetapp.view.WelcomeActivity
a64,com.blogspot.e_kanivets.moneytracker,com.blogspot.e_kanivets.moneytracker.activity.record.MainActivity