venv
venv2
w2v_sim_cache.pkl
__pycache__
.idea
test_repo/**/generated
apk_decompiled_temp
**/__pycache__
**.pyc
comp-out
manager/generated/
log
config.yml
manager/config_sample.csv
manager/migrations.csv
manager/results.csv
